.demo { 
    position: relative;
  margin-top: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* width: 80%; */
  margin-left: 0%;
}

.image_demo {
  width: 243px;
  margin: 12px;
  height: 255px;
}

.demo_product {
  position: relative;
  flex-wrap: 25%;
  width: 20%;
}

.title_demo {
  position: relative;
  width: 91%;
  margin: 12px;
  height: 50px;
}

.price_rating {
  position: relative;
  margin-top: 20px;
  display: flex;
}

.original_price {
  height: 30px;
  left: 69px;
  margin-left: 29px;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  color: #0d988c;
}

.discount_price {
  height: 30px;
  margin-left: 8px;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  /* identical to box height, or 200% */

  text-decoration-line: line-through;

  color: #a3a3a3;
}

.add_to_cart {
  width: 245px;
  height: 35px;
  /* left: 72px; */
  background: #c1dcdc;
  border-radius: 20px;
  border: none;
  margin: 14px;
  position: relative;
}

.cart_text {
  height: 37px;
  left: 147px;
  top: 2563px;

  font-family: "Aleo";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 37px;
  /* color: #ffffff; */
}
@media screen and (max-width: 1400px) {
 
  .demo_product{
    flex: 25%;
  }
}
@media screen and (max-width: 1200px) {
  
  .demo_product{
    flex: 50%;
  }
}
@media screen and (max-width: 650px) {

  .demo_product{
    flex: 100%;
  }
 
}