.footer {
  position: absolute;
  width: 100%;
  height: 400px;
  left: 0px;
  background: #c1dcdc;
}

.left_footer {
  width: 181px;
  margin-left: 96px;
}

.footer_title {
  position: relative;
  font-family: "Akaya Telivigala";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #000000;
}

.tag_line {
  position: relative;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  color: rgba(30, 30, 30, 0.5);
}

.footer_cover {
  position: relative;
  padding-top: 48px;
  display: flex;
  justify-content: space-between;
}

.social_icons {
  position: relative;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.circle {
  position: relative;
  border: 1px solid black;
  border-radius: 50%;
  padding: 14px;
  margin-top: 24px;
}

.copyright {
  position: relative;
  margin-left: 96px;
}

.right_footer {
  margin-right: 96px;
}

td {
  padding: 15px;
  width: 54px;
  height: 27px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  /* line-height: 27px; */
  /* identical to box height */

  /* Color 4 */

  color: rgba(30, 30, 30, 0.5);
}

th {
  padding: 0px 20px 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;

  color: #1e1e1e;
}
