ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 95px;

  position: absolute;
  width: 315px;
  height: 27px;
  left: 175px;
  top: 48px;
}

.right_nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 48px;
  position: absolute;
  width: 216px;
  height: 24px;
  left: 1440px;
  top: 48px;
}

.title {
  width: 146px;
  height: 29px;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 1000;
  font-size: 24px;
  line-height: 29px;
  color: #1e1e1e;
}

.home,
.products,
.contacts,
.register,
.login {
  position: relative;
  background: linear-gradient(to left, white 50%, #c1dcdc 50%) right;
  background-size: 200%;
  transition: 0.5s ease-out;
}

.home:hover,
.products:hover,
.contacts:hover,
.register:hover,
.login:hover {
  background-position: left;
  padding: 20px;
  border-radius: 5px;
}

li {
}
