 ul {
  position: relative;
  list-style-type: none;
  display: flex;
  top: 48px;
} 

.home {
}

/* .right_nav {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0px;
  gap: 48px;
  position: absolute;
  width: 216px;
  height: 24px;
  left: 80%;
  top: 48px;
} */

.title {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 1000;
  font-size: 24px;
  line-height: 29px;
  color: #1e1e1e;
}

.home,
.products,
.contacts,
.register,
.login {
  position: relative;
  background: linear-gradient(to left, white 50%, #c1dcdc 50%) right;
  background-size: 200%;
  display: flex;
  justify-content: space-between;
  transition: 0.5s ease-out;
  margin-left: 110px;
}

.home:hover,
.products:hover,
.contacts:hover,
.register:hover,
.login:hover {
  background-position: left;
  padding: 20px;
  border-radius: 5px;
}

.register,
.login {
  text-decoration: none;
  width: 68px;
}

.dropdown_head {
  position: relative;
  display: none;
  display: inline-block;
}

.dropdown_content {
  position: absolute;
  display: none;
}

.register:hover {
  position: relative;
  display: block;
  justify-content: center;
}

.dropdown_content a:hover {
  position: relative;
}

.dropdown_head:hover .dropdown_content {
  display: block;
  z-index: 1;
}

.seller,
.customer {
  position: relative;
  padding: 20px;
  background-color: black;
  border-radius: 4px;
  width: inherit;
  color: white;
  margin-left: 100px;
}
.nav{
  position: absolute;
    left: 10%;

}
.right_nav{
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
  position: relative;
  left: 8%;
}

@media screen and (max-width:1375px) {
  .home, .products, .contacts, .register, .login{
margin-left: 90px;
  }
  
}

@media screen and (max-width:1240px) {
  .home, .products, .contacts, .register, .login{
margin-left: 70px;
  }
  
}
@media screen and (max-width:1140px) {
  .home, .products, .contacts, .register, .login{
margin-left
: 30px;
  }
}

@media screen and (max-width:900px) {
  .home, .products, .contacts, .register, .login{
margin-left
: 30px;
  }
}
@media screen and (max-width:870px) {
  .home, .products, .contacts, .register, .login{
margin-left
: 20px;
  }
}
@media screen and (max-width:800px) {
  .home, .products, .contacts, .register, .login{
margin-left
: 10px;
  }
}
@media screen and (max-width:700px) {
  .right_nav
  {
    left: 5%;
    gap: 6px;
  }
}
@media screen and (max-width:750px) {
  .home, .products, .contacts, .register, .login{
margin-left
: 0px;
  }
  .ul{
    position: relative;
    left: 2px;
  }
 
  .line{
    display: none;
  }
}
@media screen and (max-width:570px) {
  .right_nav
  {
    left: 0%;
    gap: 6px;
  }
}

