.review_question {
  position: relative;
    /* width: 100%; */
    /* margin: 53px; */
    margin-: 10%;
    text-align: center;
    height: 96px;
    font-family: "Poppins";
    font-style: normal;
    margin-top: 64px;
    font-weight: 700;
    font-size: 32px;
    /* line-height: 48px; */
    /* display: flex; */
    /* justify-content: center; */

}

.reviews {
  position: relative;
  position: relative;
  display: flex;
  gap: 48px;
  width: 80%;
  margin-left: 10%;
  flex-direction: row;
}

.review_head {
  margin-bottom: 150px;
}

.envelop {
  position: relative;
  border-radius: 12px;
  background: #c1dcdc;
  width: 50%;
}

.review_message {
  position: relative;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  color: rgba(30, 30, 30, 0.75);

  padding: 48px 48px 0px;
}

.review_cover {
  position: relative;
  display: flex;
  flex-direction: row;
}

.review_name {
  position: relative;
  padding-top: 160px;
}

.photo {
  
  left: -21px;
  position: relative;
}

.rating {
  position: absolute;
    padding-top: 38px;
    right: 27%;
    font-size: 33px;
    margin: 18px;
}

.star {
  position: absolute;
  padding-left: 0;
  width: 37px;
  height: 35px;
  padding-top: 55px;
  right: 15%;
}
